.btn {
  /* background-color: #4caf50; */
  border: none;
  /* color: white; */
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px auto;
  cursor: pointer;
  border-radius: 5px;
}

/* show print area only when printing */
@media print {
  * {
    visibility: hidden;
  }
  #print-area,
  #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}
